{% from "_formhelpers.html" import render_field %}
        <div class = "container">
            <div class="media-body">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                {% if message %}
                        <h5> {{ message }}</h5>
                {% endif %}
            </div>


            <div class="col-md-12 form-group container-fluid">
                {{ form_a.csrf_token }}
                <p>
                <form method="post">
                    {{ render_field(form_a.designator)}}
                    {{render_field(form_a.inidate)}}
                    {{ render_field(form_a.enddate) }}
                    {{ render_field(form_a.time_allocated) }}
                    {{ render_field(form_a.time_spent) }}
                    {{ render_field(form_a.program_id)}}
                    {{ render_field(form_a.active) }}
                    <p>
                    {{ form_a.add(class_="btn btn-success") }}
                    </p>
                </form>
                </p>

                <h3>Allocations</h3>
                <font size="1">
                    {{table}}
                </font>
            </div>

