    <!---
    <footer class="footer">
        <div class="container">
            <p class="text-muted" id="years">&copy; SEDM 2017</p>
        </div>
    </footer>
    --->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--
    <script src="http://astro.caltech.edu/~rsw/static/js/bootstrap.min.js"></script>
    -->
    <script src="http://astro.caltech.edu/~rsw/static/js/moment.min.js"></script>
    {% if fail %}
        <script>
            $(document).ready(function(){
                $("#login-failed").slideDown("slow");
            });
        </script>
    {% endif %}

    <script>
    $(document).ready(function() {
        var ynow = moment().format('YYYY');
        $('#years').append('-'+ynow);
    });
    </script>
    </body>
</html>
