    <!---
    <footer class="footer">
        <div class="container">
            <p class="text-muted" id="years">&copy; SEDM 2017</p>
        </div>
    </footer>
    --->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--
    <script src="http://astro.caltech.edu/~rsw/static/js/bootstrap.min.js"></script>
    -->
    <script src="http://astro.caltech.edu/~rsw/static/js/moment.min.js"></script>
    
    
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script> <!-- make pretty tables happen -->
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js"></script>
    {% if fail %}
        <script>
            $(document).ready(function(){
                $("#login-failed").slideDown("slow");
            });
        </script>
    {% endif %}

    <script class="init" type="text/javascript">        
        $(document).ready( function () {
            var tables = $( 'table.dataframe_fancy').DataTable( {
                "searching": true,
                "scrollX": true,
                "pageLength": 15,
                "lengthChange": false,
                "order": [],
                "dom": 'rt<"row"<"col-sm-5"i><"col-sm-7"p>>',
                "columnDefs": [
                     {"targets": [3, 4, 5, 6, 7, 9], "searchable": false},
                ]
            } );
            var ynow = moment().format('YYYY');
            $('#years').append('-'+ynow);
        });
    </script>
    </body>
</html>
