
	<div class="container">
			{% if not current_user.is_authenticated %}
				<h2>{{greeting}}</h2>
				<img src="{{myimage}}">
			{%else%}
				<h2>{{greeting}}  <img src="{{myimage}}" style="width:20px;height:20px;"></h2>
			{%endif%}
	</div>
	{% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="container">
            {% for table in req_tables %}
                <div class="container">
                    <h4>{{req_titles[loop.index]}}</h4>
                    <font size="1">{{ table|safe }}</font>
                </div>
            {% endfor %}
        </div>
        <p>
        <div class="container">
            {% for table in all_table %}
                <h4>{{all_titles[loop.index]}}</h4>
                <font size="1">{{ table|safe }}</font>
            {% endfor %}
        </div>
