        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% if message %}
            <div class="media-body">
                <h5> {{ message }}</h5>
            </div>
        {% endif %}
        <!--
        {% if info[3] == e %}
        {% endif %}
        {% for entry, image in observations %}
            <div class="gallery">
              image
              <div class="desc">mjd {{ entry[0] }}; filter {{ entry[1] }} </div>
            </div>
        {% endfor %}
        -->
        <div class="container container-table">
            <pre> 
  Name:  {{ info[0] }}
  RA:    {{ info[1] }}
  DEC:   {{ info[2] }}
  Epoch: {{ info[4] }}
            </pre>

            <tr>Requests</tr>
            <table id="requests" class="mytable">
                <thead>
                    <tr class="firstline">
                        <td>Requester</td>
                        <td>Project</td>
                        <td>Start Date</td>
                        <td>End Date</td>
                        <td>Priority</td>
                        <td>Status</td>
                        <!-- add time/filters? -->
                    </tr>
                </thead>
                <tbody>
                    {% for request in req_data %}
                    <tr>
                        <td>{{ request[0] }}</td>
                        <td>{{ request[1] }}</td>
                        <td>{{ request[2] }}</td>
                        <td>{{ request[3] }}</td>
                        <td>{{ request[4] }}</td>
                        <td>{{ request[5] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
