        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% if message %}
            <div class="media-body">
                <h5> {{ message }}</h5>
            </div>
        {% endif %}
        <!--
        {% if info[3] == e %}
        {% endif %}
        {% for entry, image in observations %}
            <div class="gallery">
              image
              <div class="desc">mjd {{ entry[0] }}; filter {{ entry[1] }} </div>
            </div>
        {% endfor %}
        -->
        <div class="container container-table">
            <div style="float: left; width: 60%">
                <pre> 
	         	<font size="4">{{ info[0] }}</font>
	            RA, DEC (J{{info[4]}})   <font size="4">{{ info[6]}} {{info[7]}}</font>
	                                  {{ info[1]}} {{info[2] }}
                </pre>
                
                {% for table in req_table %}
                    <h2>{{req_titles[loop.index]}}</h2>
                    {{ table|safe }}
                {% endfor %}
            </div>
            <div style="float: left; width: 30%">
                <a href="http://{{image_url|safe}}">                
                {{image_tag | safe}}
                </a>
            </div>
        </div>
