        {% if message %}
            <div class="media-body">
                <h5> {{ message }}</h5>
            </div>
        {% endif %}
        <div class="container container-table">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="data:image/png;base64,{{img_data}}" style="width:512px; height:512px">
                    </a>
                </div>
            </div>
        </div>