        {% if message %}
            <div class="media-body">
                <h5> {{ message }}</h5>
            </div>
        {% endif %}
        <div class="container container-table">
            <div id="chart" style="height: 300px; width: 300px;"> 
		        <embed type="image/svg+xml" src= {{ img_data|safe }} /> 
            </div>
            <table id="requests" class="mytable">
                <thead>
                    <tr class="firstline">
                        <td>Requester</td>
                        <td>Object</td>
                        <td>Start Date</td>
                        <td>End Date</td>
                        <td>Priority</td>
                        <td>Status</td>
                        <!-- add time/filters? -->
                    </tr>
                </thead>
                <tbody>
                    {% for request in req_data %}
                    <tr>
                        <td>{{ request[0] }}</td>
                        <td>{{ request[1] }}</td>
                        <td>{{ request[2] }}</td>
                        <td>{{ request[3] }}</td>
                        <td>{{ request[4] }}</td>
                        <td>{{ request[5] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
