{% from "_formhelpers.html" import render_field %}
        <div class = "container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            {% if message %}
                <div class="media-body">
                    <h5> {{ message }}</h5>
                </div>
            {% endif %}
            <div class="col-md-6">
                <div class="well">
                    <h3>Submit an observation request</h3>
                    <form method="post">
                        {{ form1.csrf_token }}
                        <p>
                            {{ render_field(form1.object_id) }}
                            {{ render_field(form1.priority) }}
                            {{ render_field(form1.program) }}
                            {{ render_field(form1.filters_op) }}
                            {{ render_field(form1.seq_repeats) }}
                            {{ render_field(form1.ifu) }}
                            {{ render_field(form1.ab) }}
                            {{ render_field(form1.inidate) }}
                            {{ render_field(form1.enddate) }}
                            <h4>Optional</h4>
                            {{ render_field(form1.cadence) }}
                            {{ render_field(form1.phasesamples) }}
                            {{ render_field(fomr1.min_moon_dist) }}
                            {{ render_field(form1.max_moon_illum) }}
                            {{ render_field(form1.max_cloud_cover) }}
                            {{ render_field(form1.submit_req) }}
                        </p>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    <h3>Find an object</h3>
                    <h4>Search by coordinates:</h4>
                    <div>
                        <form method="post">
                            {{ form2.csrf_token }}
                            <p>
                                {{ render_field(form2.RA) }}
                                {{ render_field(form2.DEC) }}
                                {{ render_field(form2.radius) }}
                                {{ render_field(form2.submit_obj) }}
                            </p>
                        </form>
                    </div>
                    <h4>Search by name</h4>
                    <div>
                        <form method="post">
                            {{ form2.csrf_token }}
                            <p>
                                {{ render_field(form2.object_name) }}
                                {{ render_field(form2.submit_obj) }}
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>